@charset "UTF-8";

@font-face {
  font-family: "IM_Hyemin-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
/* 여백 초기화 */
body,
div,
ul,
li,
dl,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form {
  margin: 0;
  padding: 0;
}

/* a 링크 초기화 */
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #390;
}

/* 폰트 초기화 */
body,
input,
textarea,
select,
button,
table,
a {
  font-family: "IM_Hyemin-Regular";
  color: #222;
  line-height: 1.5;
}
