@charset "UTF-8";

@font-face {
  font-family: "Somi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Somi.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 스킵 메뉴 */
#skip {
  position: relative;
}
#skip a {
  position: absolute;
  left: 0;
  top: -35px;
  border: 1px solid #fff;
  color: #fff;
  background: #333;
  line-height: 30px;
  width: 180px;
  text-align: center;
}
#skip a:active,
#skip a:focus {
  top: 0;
}

/* 레이아웃 */
#header {
  height: 325px;
  background: url(../img/header_bg.jpg) center top repeat-x;
}
#footer {
  height: 200px;
  background: #333;
}

/* 콘텐츠 레이아웃 */
#content_nav {
  background: #f6fdff;
}
#content_title {
  background: #eaf7fd;
}
#content_banner {
  background: #dceff7;
}
#content_cont {
  background: #f6fdff;
}

/* 컨테이너 */
.container {
  width: 990px;
  height: inherit;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
}

/* 헤더 */
.header .header_menu {
  text-align: right;
}
.header .header_menu a {
  color: #fff;
  padding: 10px 0px 10px 13px;
  display: inline-block;
}
.header .header_menu a:hover {
  color: #666;
}
.header .header_title {
  text-align: center;
}
.header .header_title h1 {
  background-color: #4aa8d4;
  font-size: 28px;
  padding: 5px 15px;
  color: #fff;
  margin-top: 40px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}
.header .header_title a {
  display: inline-block;
  background-color: #2698cd;
  font-size: 20px;
  color: #fff;
  padding: 5px 15px;
  margin-top: -5px;
}
.header .header_icon {
  text-align: center;
  margin-top: 35px;
}
.header .header_icon a {
  width: 60px;
  height: 60px;
  display: inline-block;
  background: url(../img/icon.png) no-repeat;
  margin: 0 3px;
}
.header .header_icon a.icon1 {
  background-position: 0 0;
}
.header .header_icon a.icon2 {
  background-position: 0 -60px;
}
.header .header_icon a.icon3 {
  background-position: 0 -120px;
}
.header .header_icon a.icon4 {
  background-position: 0 -180px;
}
.header .header_icon a.icon1:hover {
  background-position: -60px 0;
}
.header .header_icon a.icon2:hover {
  background-position: -60px -60px;
}
.header .header_icon a.icon3:hover {
  background-position: -60px -120px;
}
.header .header_icon a.icon4:hover {
  background-position: -60px -180px;
}

/* float: left로 인한 영역깨짐(height: 0) 방지법
1. 깨지는 영역에 똑같이 float: left;를 사용한다.(x) -> 모든 박스에 float: left;를 사용해야 하기 때문에 좋지 않음
2. float의 성질을 차단하는 clear: both;를 사용한다.(x) -> 어떤 영역이 깨졌는지 찾기 어려움
3. float을 사용한 부모 요소한테 overflow: hidden;을 사용한다.(o) -> 현재는 제일 많이 사용함
4. clearfix를 사용한다.(o)
*/

/* 전체 메뉴 */
.nav {
  overflow: hidden;
  padding: 30px 0;
}
.nav > div {
  float: left;
  width: 40%;
}
.nav > div:last-child {
  width: 20%;
}
.nav > div h3 {
  font-size: 18px;
  color: #25a2d0;
  margin-bottom: 4px;
  font-weight: 800;
}
.nav > div ol {
  overflow: hidden;
}
.nav > div ol li {
  float: left;
  width: 50%;
}
.nav > div:last-child ol li {
  width: 100%;
}
.nav > div ol li a:hover {
  text-decoration: underline;
}

/* 타이틀 */
.title {
  position: relative;
}
.title h2 {
  font-size: 40px;
  text-align: center;
  color: #2c94c4;
  padding: 10px 0;
  letter-spacing: -1px;
  font-family: "Somi";
}
.title .btn {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/icon.png) no-repeat 0 -600px;
  width: 60px;
  height: 60px;
  margin: 10px 0;
}

/* 배너 */
.banner {
  position: relative;
  padding: 24px 0 20px;
}
.banner .prev {
  position: absolute;
  top: 60px;
  left: -80px;
  width: 43px;
  height: 43px;
  background: url(../img/icon.png) no-repeat -150px 0;
}
.banner .prev:hover {
  background-position: -193px 0;
}
.banner .next {
  position: absolute;
  top: 60px;
  right: -80px;
  width: 43px;
  height: 43px;
  background: url(../img/icon.png) no-repeat -150px -43px;
}
.banner .next:hover {
  background-position: -193px -43px;
}
.banner ul {
  overflow: hidden;
}
.banner ul li {
  float: left;
  width: 330px;
}
.banner ul .banner_img1 {
  text-align: left;
}
.banner ul .banner_img2 {
  text-align: center;
}
.banner ul .banner_img3 {
  text-align: right;
}
.banner ul li a img {
  border: 4px solid #dcdcdc;
}
.banner ul li a img:hover {
  border-color: #98bcbc;
}

/* 컨텐츠 */
.content {
  overflow: hidden;
  padding-top: 30px;
}
.content .column {
  position: relative;
  float: left;
  width: 289px;
  height: 402px;
  margin: 0 30px 30px 0;
  padding-right: 30px;
}
.content .col1 {
  border-right: 1px solid #c8c8c8;
}
.content .col2 {
  border-right: 1px solid #c8c8c8;
}
.content .col3 {
  margin-right: 0;
  padding-right: 0;
}
.content .col4 {
  border-right: 1px solid #c8c8c8;
}
.content .col5 {
  border-right: 1px solid #c8c8c8;
}
.content .col6 {
  margin-right: 0;
  padding-right: 0;
}
.content .column .ico_img {
  display: block;
  width: 60px;
  height: 60px;
  background: url(../img/icon.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.content .column .ico_title {
  padding-left: 70px;
  font-size: 16px;
  font-weight: 600;
  color: #2c94c4;
}
.content .column .ico_desc {
  padding-left: 70px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d0d0d0;
}
.content .col1 .ico_img {
  background-position: 0px -240px;
}
.content .col2 .ico_img {
  background-position: 0px -300px;
}
.content .col3 .ico_img {
  background-position: 0px -360px;
}
.content .col4 .ico_img {
  background-position: 0px -420px;
}
.content .col5 .ico_img {
  background-position: 0px -480px;
}
.content .col6 .ico_img {
  background-position: 0px -540px;
}
.content .col1 .ico_img:hover {
  background-position: -60px -240px;
}
.content .col2 .ico_img:hover {
  background-position: -60px -300px;
}
.content .col3 .ico_img:hover {
  background-position: -60px -360px;
}
.content .col4 .ico_img:hover {
  background-position: -60px -420px;
}
.content .col5 .ico_img:hover {
  background-position: -60px -480px;
}
.content .col6 .ico_img:hover {
  background-position: -60px -540px;
}

/* 게시판 */
.notice {
  position: relative;
}
.notice h4 {
  font-size: 14px;
  color: #0093bd;
  padding-bottom: 3px;
  font-weight: bold;
}
.notice ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: url(../img/dot.gif) no-repeat 0 8px;
  padding-left: 8px;
}
.notice ul li a {
  font-size: 12px;
}
.notice .more {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: url(../img/icon.png) -150px -90px;
  width: 17px;
  height: 17px;
}

/* 게시판2 */
.notice2 {
  position: relative;
  margin-top: 15px;
}
.notice2 h4 {
  font-size: 14px;
  color: #0093bd;
  padding-bottom: 3px;
  font-weight: bold;
}
.notice2 li {
  overflow: hidden;
  background: url(../img/dot.gif) no-repeat 0 8px;
  padding-left: 8px;
}
.notice2 li a {
  font-size: 13px;
  float: left;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice2 li span {
  font-size: 13px;
  float: right;
  width: 30%;
  text-align: right;
}
.notice2 .more {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: url(../img/icon.png) -150px -90px;
  width: 17px;
  height: 17px;
}

/* 게시판3 */
.notice3 {
  position: relative;
}
.notice3 h4 {
  font-size: 14px;
  color: #0093bd;
  padding-bottom: 3px;
  font-weight: bold;
}
.notice3 li {
  position: relative;
  padding: 8px 0 14px 60px;
}
.notice3 li a img {
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #0093bd;
}
.notice3 li a strong {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notice3 li a span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
}
.notice3 .more {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: url(../img/icon.png) -150px -90px;
  width: 17px;
  height: 17px;
}

/* 마우스 오버효과1 */
.notice_hover h4 {
  font-size: 14px;
  color: #0093bd;
  padding-bottom: 3px;
  font-weight: bold;
}
.notice_hover ul {
  overflow: hidden;
}
.notice_hover li {
  float: left;
  width: 93px;
  margin-right: 5px;
  text-align: center;
}
.notice_hover li:last-child {
  margin-right: 0;
}
.notice_hover li a span {
  position: relative;
  display: block;
  width: 93px;
  height: 93px;
  line-height: 93px;
}
.notice_hover li a span img {
  width: 100%;
}
.notice_hover li a span em {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 100%;
}
.notice_hover li a span:hover em {
  visibility: visible;
}
.notice_hover li a strong {
  padding-top: 3px;
  display: inline-block;
  font-size: 12px;
}

/* 마우스 오버효과2 */
.notice_hover2 ul {
  overflow: hidden;
}
.notice_hover2 li {
  float: left;
  width: 93px;
  margin-right: 5px;
  text-align: center;
}
.notice_hover2 li:last-child {
  margin-right: 0;
}
.notice_hover2 li a span {
  position: relative;
  display: block;
  width: 93px;
  height: 93px;
}
.notice_hover2 li a span img {
  width: 100%;
}
.notice_hover2 li a span em {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
}
.notice_hover2 li a span:hover em {
  visibility: visible;
}
.notice_hover2 li a strong {
  padding-top: 3px;
  display: inline-block;
  font-size: 12px;
}
