@charset "UTF-8";

/* 스킵 메뉴 */
#skip {
  position: relative;
}
#skip a {
  position: absolute;
  left: 0;
  top: -35px;
  border: 1px solid #fff;
  color: #fff;
  background: #333;
  line-height: 30px;
  width: 180px;
  text-align: center;
}
#skip a:active,
#skip a:focus {
  top: 0;
}

/* 레이아웃 */
#wrap {
  width: 100%;
  color: white;
  font-size: 15px;
  text-align: center;
}
#header {
  height: 325px;
  background: url(../img/header_bg.jpg) center top repeat-x;
}
#contents {
  height: 800px;
  background: #222;
}
#footer {
  height: 200px;
  background: #333;
}

/* 콘텐츠 레이아웃 */
#content_nav {
  height: 200px;
  background: #333;
}
#content_title {
  height: 200px;
  background: #444;
}
#content_banner {
  height: 200px;
  background: #555;
}
#content_cont {
  height: 200px;
  background: #666;
}

/* 컨테이너 */
.container {
  width: 990px;
  height: inherit;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
}

/* 헤더 */
.header {
}
.header .header_menu {
  text-align: right;
}
.header .header_menu a {
  color: #fff;
  padding: 10px 0px 10px 13px;
  display: inline-block;
}
.header .header_menu a:hover {
  color: #666;
}
.header .header_title {
}
.header .header_icon {
}
